@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.text-abril{
  font-family: "Abril Fatface", serif !important
}
@import "tailwindcss";
.bg-azul{
  background-color: #81d7e6;
}
.bg-casquinha{
  position: relative;
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #81d7e685 1%, #0000 2%,#0000 49%, #81d7e685 50%, #0000 51%, #0000 99.5%, #81d7e685 99.5%);
    background-repeat: repeat;
    background-size: 20px 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &:before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, #81d7e685 1%, #0000 2%,#0000 49%, #81d7e685 50%, #0000 51%, #0000 99.5%, #81d7e685 99.5%);
    background-repeat: repeat;
    background-size: 20px 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}